.container-header{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    position: sticky;
    margin: auto;
    top: 0;
    background-color: $cinza;
}

.desktop{
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
        font-size: 16px;
        color: $azul2;
        margin-right: 10px;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        background-color: $corPrimaria;
        color: $branco;
        border: 1px solid $branco;
        border-radius: 12px;
        align-items: center;
        padding: 10px;
    }

    a:hover{
        background-color: $branco;
        color: $corPrimaria;
        border: 1px solid $corPrimaria;
    }

    button {
        background-color: $vermelho;
        border-radius: 12px;
        border: 1px solid $corPrimaria;
        width: 60px;
        height: 42px;
        padding: 10px;
        cursor: pointer;
        color: $branco;
        font-size: 16px;
        align-items: center;
        margin: 8px 0px;
    }

    button:hover{
        background-color: $preto;
        color: $branco;
    }
    
      @media screen and (min-width: $desktopBreakpoint) {
        justify-content: center;
      }
  }