.container-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: $cinza;
}

.desktop{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;

    span {
        font-size: 16px;
        color: $azul2;
        margin-right: 10px;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        background-color: $corPrimaria;
        color: $branco;
        border: 1px solid $branco;
        border-radius: 12px;
        align-items: center;
        padding: 10px;
    }

    a:hover{
        background-color: $branco;
        color: $corPrimaria;
        border: 1px solid $corPrimaria;
    }

    button {
        background-color: $vermelho;
        border-radius: 12px;
        border: 1px solid $corPrimaria;
        width: 78.39px;
        height: 42px;
        padding: 10px;
        cursor: pointer;
        color: $branco;
        font-size: 16px;
        align-items: center;
        margin: 8px 0px;
    }

    button:hover{
        background-color: $preto;
        color: $branco;
    }
  }