.paginaPublica {
    justify-content: center;
    padding: 0 32px;
    background-color: $cinza;

    h1{
      font-size: 16px;
      text-align: center;
    }

    .logoContainer {
        position: relative;
        height: 13%;
        width: 100%;
        margin-bottom: 50px;
    }

    .conteudoPaginaPublica {
        width: 100%;
        margin: 0 auto;
    }

    .rodapePaginaPublica {
        text-align: center;
        margin-top: 24px;

        p {
            color: $cinza3;
            margin: 0px 0px 2px;
        }

        a {
            color: $corPrimaria;
            font-family: $fontBold;
        }
    }

    .modulosContainer{
        padding: 10px;
        border-radius: 10%;
      
        h1{
          text-align: center;
        }
      
        .listaModulos{
          margin-bottom: 20px;
          border-bottom: 1px solid $cinza4;
        }
      }
      
      .nomeModulo{
        cursor: pointer;
        color: $corPrimaria;
      }
      .nomeModulo:hover{
        color: $amarelo;
      }

      .link-btn {
        cursor: pointer;
        background-color: $corPrimaria;
        color: $branco;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid $corPrimaria;
      }

      .link-btn:hover {
        background-color: $branco;
        color: $corPrimaria;
        border: 1px solid $corPrimaria;
      }

    @media screen and (min-width: $desktopBreakpoint) {
        flex-direction: row;
        font-size: 18px;
        margin: 20px 0;
        
        .conteudoPaginaPublicaCadastro {
            width: 30%;
            border: 1px solid $corPrimaria;
            border-radius: 26px;
            padding: 50px;
        }

        .conteudoPaginaPublica {
            width: 30%;
            border: 1px solid $corPrimaria;
            border-radius: 26px;
            padding: 50px;
        }

        .rodapePaginaPublica {
            p, a {
                font-size: 18px;
            }
        }

        .modulosContainer{
            padding: 40px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
          
            h1{
              text-align: center;
              font-size: 20px;
            }
          
            .listaModulos{
              padding: 10px;
              max-width: 800px;
              border: 1px solid rgb(67, 51, 118);
              box-sizing: border-box;
              border-radius: 16px;
            }
          }
          
          .nomeModulo{
            cursor: pointer;
            border-radius: 100px;
            background: transparent;
            border: 1px solid $corPrimaria;
            text-align: center;
            padding: 8px 0px;
            display: flex;
            justify-content: center;
          }
          .nomeModulo:hover{
            background: $corPrimaria;
            border: 1px solid transparent;
            color: $branco;
          }

          .aulasContainer {
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .listaAulas{
              padding: 10px;
              max-width: 800px;
              border: 1px solid rgb(67, 51, 118);
              box-sizing: border-box;
              border-radius: 16px;
              margin-bottom: 5px;
            }

            .nomeAula{
              cursor: pointer;
              border-radius: 100px;
              background: transparent;
              border: 1px solid $corPrimaria;
              text-align: center;
              padding: 8px 0px;
              display: flex;
              justify-content: center;
              padding: 5px; 
            }
            .nomeAula:hover{
              background: $corPrimaria;
              border: 1px solid transparent;
              color: $branco;
            }
          }
    }
}