$corPrimaria: #4C4AE0;
$branco: #ffffff;
$preto: #000000;
$azul1: #242294;
$azul2: #706EFF;
$amarelo: #E0C64A;
$cinza: #F4F4F4;
$cinza1: #DADADA;
$cinza2: #7C7786;
$cinza3: #4D4C4D;
$cinza4: #333333;
$cinza5: #E5E5E5;
$vermelho: #FF0000;

$desktopBreakpoint: 992px;

$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';
